.root {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );

  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-0));
}

.cancelButton {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
  border-color: light-dark(
    var(--mantine-color-gray-6),
    var(--mantine-color-gray-5)
  );
}

.description {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
}

.noDescription {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-5));
}
