.navbar {
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.bottomDiv {
  position: sticky;
  z-index: 1;
  padding-top: 10px;
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
}

.reactWindowList::-webkit-scrollbar {
  width: 4px;
}

.reactWindowList::-webkit-scrollbar-track {
  background: transparent;
}

.reactWindowList::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

.reactWindowList {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}
