.shortcut {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );
  border-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-7)
  );
}

.icon {
 color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );
}